<style>
    .site-footer {
        border-top: 1px solid var(--accent);
        padding: 16px 0;
        font-size: 13px;
        color: #555;
        background: var(--bg-color);
    }

    .footer-container {
        width: 100%;
        /* margin: 0 auto;
        padding: 0 16px; */
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        flex-wrap: wrap;
    }

    .footer-links a {
        color: #555;
        text-decoration: none;
        margin: 0 6px;
    }

    .footer-links a:hover {
        text-decoration: underline;
    }
    .footer-links{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
    }
</style>

<footer class="site-footer">
    <div class="footer-container">

        
        <div class="footer-links" style="text-align: center;">
            <a href="https://docs.codewithajoydas.live/#privacy-intro">Privacy Policy</a>
            <a href="https://docs.codewithajoydas.live/#terms-intro">Terms & Conditions</a>
            <a href="https://docs.codewithajoydas.live/#cookie-policy">Cookie Policy</a>
            <a href="https://docs.codewithajoydas.live/#privacy-rights">Data Protection</a>
            <a href="https://docs.codewithajoydas.live/#terms-contact">Contact</a>
        </div>

        <!-- <div class="footer-left" style="text-align: center !important;">
            <p>
                © <%= new Date().getFullYear() %> <strong>Kodhra</strong>.
                    All rights reserved.
            </p>
        </div>
         -->
    </div>
</footer>