.notification-bar {
  position: fixed;
  height: calc(100vh - 70px);
  top: 10%;
  width: 400px;
  overflow-x: hidden;
  right: 0px;
  z-index: 9999999999999999999999999999999 !important;
  pointer-events: all !important;
  padding: 10px;
  background: var(--bg-color);
  backdrop-filter: blur(10px);
  border-radius: 10px 0px 0px 10px;
  overflow-y: scroll;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
    clip-path: polygon(100% 0, 0 0, 0 99%, 100% 100%);
    // width: 400px;
  }
  .notification-lists {
    list-style: none;
    .notification-list {
      margin-block: 5px;
      max-width: 400px;
      padding: 10px;
      border-radius: 10px;
      // background: rgba(0, 0, 0, 0.062);
      // backdrop-filter: blur(10px);
      border: 1px solid rgba(128, 128, 128, 0.322);
      transition: all 0.5s ease;
      .action-button {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 0px;
        &:hover {
          gap: 5px;
          color: red;
        }
      }

      .n-title {
        font-size: smaller;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bolder;
        gap: 10px;
        margin-block: 10px;
        span {
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }
      .n-description {
        font-size: medium;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        img{
          width: 40px;
          height: 40px;
          border-radius: 50% !important;
          object-fit: cover;
        }
      }
      a {
        text-align: right;
        text-decoration: none;
        color: var(--color);
        transition: all 0.5s ease;
        margin-block: 5px;
        font-weight: bolder;
      }
    }
  }
}
